body{

    background-color:#02735E;
}
h1{
    background-color: #038C3E;
}
p{
    font-size: 20;
    background-color:#034159;
}


h2{
    background-color: #038C3E;
}

body {
    font-family: 'Bebas Neue', sans-serif;
}